<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ChatApp</title>
    <meta charset="utf-8" />
    <meta username="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"/>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
<h1>Peer to peer chat program</h1>

<div th:if="${user == null}">
<h2><a th:href="@{/enter}">Register</a></h2>
</div>

<div th:if="${user != null}">
    <form th:action="@{/updateUserName}" th:object="${user}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <input type="text" th:field="*{username}" th:value="${user.username}" username="username"/>
        <button type="submit" value="Submit">Change</button>
    </form>

    <div class="form-group">
        <label for="comment">Message</label>
    <form th:action="@{/messages/send}" th:object="${newMessage}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <!--<input type="text" th:field="*{text}" username="username"/>-->
        <textarea class="form-control" rows="2" id="comment" th:field="*{text}" username="username"/>
        <button type="submit" value="Submit">Send</button>
    </form>
    </div>

    <th:block th:each="message : ${messages}">
        <tr>
            <ul>
                <li>
                    <td th:text="${message.text}">...</td>
                </li>
                <li>
                    <td th:text="${message.username}">...</td>
                </li>
                <li>
                    <td th:text="${message.messageCreated}">...</td>
                </li>
            </ul>
        </tr>
    </th:block>
</div>



</body>
</html>